<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".Data.LoggedInUser"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_budget_vibe_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_budget_vibe_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.BudgetVibes"
        tools:targetApi="31">
        <activity
            android:name=".UI.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".UI.AddCardActivity"
            android:exported="false" />
        <activity
            android:name=".UI.CardsActivity"
            android:exported="false" />
        <activity
            android:name=".UI.IncomeHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".UI.IncomeActivity"
            android:exported="false" />
        <activity
            android:name=".UI.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".UI.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".UI.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".UI.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.MainActivity"
            android:exported="false" />

        <activity
            android:name=".UI.GraphActivity"
            android:exported="false" />

    </application>

</manifest>